/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Merge One";
  src: url("../public/fonts/MergeOne-Regular.ttf");
}
:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Merge One", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  font-family: var(--second-family);
  color: #fff;
}

.tooltip.visible {
  display: block;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 10;
}
@media screen and (max-width: 1079px) {
  .header {
    top: 0;
  }
}

.header__container {
  width: min(1714px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.header__top {
  height: 44px;
  margin-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  background-color: #03111a;
}
@media screen and (max-width: 1079px) {
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__bottom {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__title {
  max-width: 67px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 27px;
  line-height: 65%;
  letter-spacing: 0.22em;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  translate: -50% 0;
}
@media screen and (max-width: 1079px) {
  .header__title {
    position: static;
    translate: 0 0;
  }
}

@media screen and (max-width: 1079px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ol {
  display: flex;
  gap: 42px;
}
.header__navigation ol a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition: color 200ms ease;
}
.header__navigation ol a:hover {
  color: #d17d51;
}

.header__socials {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1079px) {
  .header__socials {
    position: absolute;
    top: 750px;
    left: 50%;
    translate: -50% 0;
  }
}
.header__socials a {
  transition: scale 200ms ease;
}
.header__socials a:hover {
  scale: 1.1;
}
.header__socials a:active {
  scale: 1;
}

.header__menu {
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200vh;
  left: 0;
  z-index: 20;
  background-color: #fff;
  color: #000;
  transition: all 500ms ease;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  font-family: var(--second-family);
}

.header__menu.visible {
  top: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  font-size: 32px;
  text-transform: capitalize;
}

.header__menu-btn {
  width: 62px;
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  position: relative;
  z-index: 21;
}
@media screen and (max-width: 1079px) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn div {
  width: 100%;
  height: 2px;
  background-color: #94cbff;
  border-radius: 10px;
  transition: all 200ms ease;
}

.header__menu-btn.close div:nth-of-type(1) {
  width: 100%;
  rotate: 45deg;
  translate: 0 9px;
}
.header__menu-btn.close div:nth-of-type(2) {
  display: none;
}
.header__menu-btn.close div:nth-of-type(3) {
  translate: 0 -9px;
  rotate: -45deg;
}

.home {
  padding-top: 400px;
  padding-bottom: 108px;
  background: #00263a;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .home {
    padding-top: 293px;
    padding-bottom: 17px;
  }
}
.home::before {
  content: url("../public/img/home/home_bg.png");
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1079px) {
  .home::before {
    content: url("../public/img/home/home_bg_mobile.png");
  }
}

.home__container {
  width: min(1134px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

.home__title {
  margin-bottom: 20px;
  display: flex;
  align-items: end;
  font-weight: 600;
  font-size: 362px;
  color: #fff;
  line-height: 70%;
  translate: -25px 0;
}
@media screen and (max-width: 1079px) {
  .home__title {
    max-width: 330px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 25px;
    font-size: 147px;
    translate: 0 0;
    align-items: start;
  }
  .home__title svg {
    width: 187px;
    margin-left: auto;
  }
}

.home__description {
  max-width: 431px;
  margin-bottom: 70px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .home__description {
    max-width: 221px;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: right;
    color: #000;
  }
}

.home__gradient {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(180deg, #0cf3a8 0%, #d724fd 100%);
  clip-path: polygon(66.6% 0, 100% 0, 100% 100%, 18% 100%);
}
@media screen and (max-width: 1079px) {
  .home__gradient {
    width: 100%;
  }
}

.home__wrap {
  width: fit-content;
  position: absolute;
  top: -30px;
  right: 0;
}
@media screen and (max-width: 1079px) {
  .home__wrap {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 123px;
  }
}
.home__wrap > span {
  max-width: 451px;
  margin-bottom: 44px;
  display: block;
  font-size: 18px;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .home__wrap > span {
    display: none;
  }
}
.home__wrap > div {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.home__wrap > div a {
  width: 194px;
  height: 55px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  transition: background-color 200ms ease;
}
@media screen and (max-width: 1079px) {
  .home__wrap > div a {
    width: 166px;
    height: 47px;
    font-size: 15px;
  }
}
.home__wrap > div a:hover {
  background-color: #121212;
}
.home__wrap > div a:active {
  background-color: #000;
}

.home__token {
  width: 354px;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 30px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .home__token {
    width: 275px;
    height: 45px;
    padding-right: 15px;
  }
}
.home__token span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 -100%;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .home__token span:first-of-type {
    display: none;
  }
}

.token__code {
  font-family: var(--third-family);
  font-size: 20px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1079px) {
  .token__code {
    font-size: 16px;
  }
}

.token__copy {
  transition: scale 200ms ease;
}
.token__copy:hover {
  scale: 1.1;
}
.token__copy:active {
  scale: 1;
}

.about {
  padding-top: 246px;
  padding-bottom: 183px;
  background: #00263a;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about {
    padding-top: 173px;
    padding-bottom: 32px;
  }
}
.about:before {
  content: "";
  width: 100%;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  background-image: url("../public/img/about/about_bg.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.about__container {
  width: min(1320px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.about__title {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 214px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1079px) {
  .about__title {
    margin-bottom: 24px;
    font-size: 87px;
  }
}

.about__wrap {
  padding: 68px 146px 64px 122px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1079px) {
  .about__wrap {
    padding: 23px;
    flex-direction: column;
    align-items: center;
    gap: 46px;
  }
}
.about__wrap div:nth-of-type(1) h3 {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(1) h3 {
    margin-bottom: 11px;
    text-align: center;
  }
}
.about__wrap div:nth-of-type(1) p {
  margin-bottom: 14px;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(1) p {
    text-align: center;
  }
}
.about__wrap div:nth-of-type(1) a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(92deg, #0cf3a8 0%, #d724fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(1) a {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
  }
}
.about__wrap div:nth-of-type(1) a:hover {
  filter: brightness(0.8);
}
.about__wrap div:nth-of-type(1) a:active {
  filter: brightness(1);
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(2) img {
    width: 154px;
  }
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 48px;
    row-gap: 35px;
  }
}
.about__wrap div:nth-of-type(3) > div {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 68px;
  text-align: right;
  background: linear-gradient(92deg, #0cf3a8 0%, #d724fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(3) > div {
    margin-bottom: 0;
    font-size: 49px;
  }
}
.about__wrap div:nth-of-type(3) > div b {
  line-height: 80%;
}
.about__wrap div:nth-of-type(3) > div span {
  font-size: 18px;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(3) > div span {
    font-size: 13px;
  }
}
.about__wrap div:nth-of-type(3) a {
  width: 194px;
  height: 55px;
  margin-top: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .about__wrap div:nth-of-type(3) a {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 165px;
    height: 46px;
    margin-top: 0;
  }
}
.about__wrap div:nth-of-type(3) a:hover {
  filter: brightness(0.8);
}
.about__wrap div:nth-of-type(3) a:active {
  filter: brightness(1);
}

.about__ticker {
  width: 100%;
  height: 80px;
  background: #03111a;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  user-select: none;
}
.about__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 20s linear infinite;
  padding-right: 103px;
  padding-left: 20px;
}
.about__ticker .ticker__wrap span {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
}
.about__ticker .ticker__wrap span:nth-of-type(2n) {
  background: linear-gradient(92deg, #0cf3a8 0%, #d724fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: linearText 2s linear infinite;
}

@keyframes linearText {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes tickerMove {
  to {
    translate: -50% 0;
  }
}
.participate {
  padding-top: 105px;
  padding-bottom: 308px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .participate {
    padding-top: 83px;
    padding-bottom: 102px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.participate:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, #fff 0%, #e9f1ff 100%);
}
@media screen and (max-width: 768px) {
  .participate:before {
    display: none;
  }
}
.participate > img {
  position: absolute;
  top: 888px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .participate > img {
    display: none;
  }
}

.participate__title {
  width: fit-content;
  margin-bottom: 82px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #94cbff;
  translate: 320px 0;
}
@media screen and (max-width: 1079px) {
  .participate__title {
    width: 100%;
    translate: 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .participate__title {
    margin-bottom: 60px;
    font-size: 52px;
  }
}

.participate__step-1 {
  margin-bottom: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  font-family: var(--second-family);
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-1 {
    margin-bottom: 57px;
    flex-direction: column;
    gap: 23px;
  }
  .participate__step-1 > img {
    width: 124px;
  }
}
.participate__step-1 h3 {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 h3 {
    margin-bottom: 51px;
    font-size: 36px;
  }
}
.participate__step-1 h3 span {
  font-size: 68px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 h3 span {
    font-size: 36px;
  }
}
.participate__step-1 p {
  max-width: 297px;
  margin-bottom: 26px;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 180%;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-1 p {
    display: none;
  }
}
.participate__step-1 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 div {
    align-items: center;
  }
}
.participate__step-1 div a {
  width: 194px;
  height: 55px;
  background-color: #000;
  opacity: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  transition: opacity 400ms ease, background-color 100ms ease;
}
.participate__step-1 div a:hover {
  opacity: 1;
}
.participate__step-1 div a:active {
  background-color: #303030;
}

.participate__step-2 {
  margin-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}
@media screen and (max-width: 768px) {
  .participate__step-2 {
    margin-bottom: 34px;
    flex-direction: column-reverse;
    gap: 76px;
  }
  .participate__step-2 img {
    width: 175px;
  }
}
.participate__step-2 h3 {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-family: var(--second-family);
  font-size: 22px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 h3 {
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 36px;
  }
}
.participate__step-2 h3 span {
  font-family: var(--second-family);
  font-size: 68px;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 h3 span {
    font-size: 36px;
  }
}
.participate__step-2 p {
  max-width: 275px;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 180%;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 p {
    max-width: 327px;
    font-size: 18px;
    text-align: center;
  }
}

.participate__step-3 {
  width: min(1100px, 100%);
  height: 618px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  border-radius: 20px;
  background-image: url("../public/img/participate/participate_step_3_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .participate__step-3 {
    height: auto;
    padding-top: 27px;
    padding-bottom: 16px;
    border-radius: 13px;
  }
}
@media screen and (max-width: 500px) {
  .participate__step-3 {
    background-size: 100% 100%;
  }
}
.participate__step-3::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%);
}
@media screen and (max-width: 768px) {
  .participate__step-3::before {
    border-radius: 13px;
  }
}
.participate__step-3 h3 {
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: var(--font-family);
  font-size: 188px;
  text-transform: uppercase;
  color: #fff;
  line-height: 70%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .participate__step-3 h3 {
    margin-bottom: 47px;
    gap: 120px;
    font-size: 52px;
  }
}
.participate__step-3 h3 span {
  font-family: var(--second-family);
  font-size: 68px;
  text-align: right;
  color: #fff;
  line-height: 80%;
}
@media screen and (max-width: 768px) {
  .participate__step-3 h3 span {
    font-size: 36px;
    background: linear-gradient(113deg, #fff 0%, #999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.participate__step-3 a {
  width: 194px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 768px) {
  .participate__step-3 a {
    width: 123px;
    height: 34px;
    font-size: 11px;
    border: none;
  }
}
.participate__step-3 a:hover {
  filter: brightness(0.8);
}
.participate__step-3 a:active {
  filter: brightness(1);
}

.participate__ticker {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1079px) {
  .participate__ticker {
    height: 50px;
  }
}
.participate__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 20s linear infinite;
  padding-left: 136px;
}
@media screen and (max-width: 1079px) {
  .participate__ticker .ticker__wrap {
    gap: 77px;
    padding-left: 80px;
  }
}
.participate__ticker .ticker__wrap span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .participate__ticker .ticker__wrap span {
    font-size: 19px;
  }
}

.tokenomic {
  padding-top: 246px;
  padding-bottom: 322px;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .tokenomic {
    padding-top: 52px;
    padding-bottom: 108px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tokenomic__container {
  width: min(970px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 84px 66px;
  border: 1px solid #000;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .tokenomic__container {
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
  }
}

.tokenomic__title {
  margin-bottom: 90px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .tokenomic__title {
    margin-bottom: 340px;
    font-size: 52px;
    color: #3faae8;
    text-align: center;
  }
}

.tokenomic__statistics {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics {
    align-items: center;
    gap: 38px;
  }
}
.tokenomic__statistics h3 {
  display: flex;
  gap: 8px;
  font-family: var(--second-family);
  font-size: 33px;
  text-transform: uppercase;
  color: #000;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics h3 {
    font-size: 27px;
  }
}
.tokenomic__statistics h3 span {
  color: #3faae8;
}
.tokenomic__statistics > li > span {
  font-family: var(--second-family);
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics > li > span {
    font-size: 15px;
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 1079px) {
  .tokenomic__img {
    width: 273px;
    position: absolute;
    top: 88px;
    left: 50%;
    translate: -50% 0;
  }
}

@media screen and (max-width: 540px) {
  .tokenomic__lines {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 45%;
    background-image: url("../public/img/tokenomic/tokenomic_lines_mobile.png");
    background-size: cover;
  }
}
.tokenomic__lines > img {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  translate: 0 26.5%;
  z-index: 0;
}
@media screen and (max-width: 540px) {
  .tokenomic__lines > img {
    display: none;
  }
}

.buy {
  padding-bottom: 114px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .buy {
    padding-bottom: 45px;
  }
}

.buy__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.buy__title {
  margin-bottom: 102px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #3faae8;
}
@media screen and (max-width: 1079px) {
  .buy__title {
    margin-bottom: 43px;
    font-size: 52px;
    text-align: center;
  }
}

.buy__steps {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
@media screen and (max-width: 1079px) {
  .buy__steps {
    width: fit-content;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.buy__steps li {
  padding: 30px 18px;
  border: 1px solid #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li {
    padding: 24px 15px;
  }
}
.buy__steps li h3 {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--second-family);
  font-size: 31px;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li h3 {
    width: fit-content;
    margin-bottom: 33px;
    font-size: 26px;
  }
}
.buy__steps li p {
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 180%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li p {
    max-width: 344px;
    font-size: 15px;
  }
}

.buy__btn {
  width: 241px;
  height: 55px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: box-shadow 200ms ease;
}
@media screen and (max-width: 1079px) {
  .buy__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.buy__btn:hover {
  box-shadow: 0 0 10px #ccc inset;
}
.buy__btn:active {
  box-shadow: 0 0 2px #ccc inset;
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #03111a;
}
@media screen and (max-width: 1079px) {
  .footer {
    padding-top: 22px;
    padding-bottom: 28px;
  }
}

.footer__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1079px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
.footer__container h3 {
  margin-bottom: 18px;
  font-size: 24px;
  color: #fff;
}

.footer__title {
  max-width: 188px;
  font-weight: 700;
  font-size: 77px;
  line-height: 65%;
  letter-spacing: 0.22em;
  text-align: center;
  color: #fff;
  align-self: center;
  text-shadow: 0 -5px 0 #03111a;
}
@media screen and (max-width: 1079px) {
  .footer__title {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    max-width: 73px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1079px) {
  .footer__download {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  .footer__download h3 {
    text-align: center;
    grid-column: 1/3;
  }
}
.footer__download a {
  width: 234px;
  height: 81px;
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  align-items: center;
  column-gap: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 200ms ease;
}
@media screen and (max-width: 1079px) {
  .footer__download a {
    width: 164px;
    height: 56px;
    border-radius: 7px;
    grid-row: 2/3;
  }
}
.footer__download a:first-of-type {
  margin-bottom: 8px;
}
.footer__download a:hover {
  opacity: 1;
}
.footer__download a:active {
  opacity: 0.8;
}
.footer__download a img {
  translate: 0 50%;
}
@media screen and (max-width: 1079px) {
  .footer__download a img {
    width: 26px;
  }
}

.download__name {
  grid-column: 2/3;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .download__name {
    font-size: 10px;
  }
}

.download__rating {
  grid-row: 2/3;
  grid-column: 2/3;
}
.download__rating span:first-of-type {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .download__rating span:first-of-type {
    font-size: 17px;
  }
}
.download__rating span:last-of-type {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 11px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .download__rating span:last-of-type {
    font-size: 8px;
  }
}

@media screen and (max-width: 1079px) {
  .footer__menu {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
  }
  .footer__menu h3 {
    text-align: center;
  }
}
@media screen and (max-width: 1079px) and (max-width: 1079px) {
  .footer__menu h3 {
    text-align: left;
  }
}

.footer__navigation {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
.footer__navigation a {
  transition: filter 200ms ease;
}
.footer__navigation a:hover {
  filter: brightness(0.7);
}
.footer__navigation a:active {
  filter: brightness(1);
}

.footer__socials {
  position: relative;
}
@media screen and (max-width: 1079px) {
  .footer__socials {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 57px;
    margin-bottom: 50px;
  }
  .footer__socials h3 {
    text-align: center;
  }
}
.footer__socials div {
  margin-top: 37px;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1079px) {
  .footer__socials div {
    margin-bottom: 43px;
    left: 0;
    justify-content: center;
  }
}
.footer__socials div a {
  transition: scale 200ms ease;
}
.footer__socials div a:hover {
  scale: 1.1;
}
.footer__socials div a:last-of-type {
  width: 37px;
  height: 37px;
  mix-blend-mode: screen;
  scale: 1.2;
}
.footer__socials div a:last-of-type:hover {
  scale: 1.35;
}

.footer__up {
  width: 147px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-weight: 400;
  font-size: 22px;
  color: #000;
  position: absolute;
  top: 122px;
  left: 0;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .footer__up {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__up:hover {
  filter: brightness(0.8);
}
.footer__up:active {
  filter: brightness(1);
}

/*# sourceMappingURL=styles.css.map */
